.finalScore {
  width: 400px;
  height: 250px;
  background-color: #8893c7;
  border-radius: 10px;
  font-size: 45px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
}
